
.item-detail-card {
        height: 60vh;
        margin-top: 20px;
        display: flex;        
}

.item-detail-img {

       justify-content: center;
       align-items: center; 
}

.item-detail-img img {
        height: 80%;
        width: 80%;
}

.item-detail-card .item-detail-card-top {
        justify-content: center;
        align-self: center;
}

.item-detail-card .item-detail-card-bottom {
        justify-content: center;
        border-top: 1px solid black;
}

.item-detail-cantidad-desde {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;        
}

.p-values-cantidad {
        font-size: 1.5rem;
}

.p-values-total {
        font-size: 2rem;
}